body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

.about-me-section {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.profile-picture {
    flex: 0 0 280px;
    margin-right: 2rem;
}

.profile-picture img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.about-me-content {
    flex: 1;
}

.about-me-content h2 {
    margin-bottom: 1rem;
}

.about-me-content p {
    font-family: Times;
}

.timeline {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.timeline h2 {
    margin-bottom: 1.5rem;
}

.event {
    display: flex;
    margin-bottom: 2rem;
}

.event-date {
    flex: 0 0 120px;
    text-align: center;
    background-color: #EEA47F;
    color: #333;
    font-weight: bold;
    font-style: italic;
    font-size: 13pt;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-content {
    flex: 1;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: none;
}

.event-content h3 {
    margin-top: 0;
}

.event-content p {
    margin-bottom: 0;
}

.event-content, .event-date {
    font-family: Times;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

footer h2 {
    margin-bottom: 1rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer li {
    margin-bottom: 0.5rem;
    margin-right: 2rem;
}

footer li:last-child {
    margin-right: 0;
}

footer li strong {
    display: inline-block;
    width: 80px;
}

li > a {
    color: white;
}

.event-cards {
    display: none;
}

.category-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.category-card {
    padding: 1rem;
    border: 1px solid #ddd;
    cursor: pointer;
}

.category-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.category-card {
    flex: 1;
    padding: 2rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.category-card:hover {
    background-color: #2980b9;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.category-card.selected {
    background-color: #27ae60;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


